[Unit]
Description=mtsports nanopi-neo-air board rtc fix
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/bash -c '/bin/echo ds3231 0x68 > /sys/class/i2c-adapter/i2c-0/new_device;sleep 0.5'
ExecStart=/sbin/hwclock -s -f /dev/rtc1
ExecStop=/sbin/hwclock -w -f /dev/rtc1
ExecStop=/sbin/hwclock -w

Restart=no

[Install]
WantedBy=multi-user.target